$bg-color-primary-dark: #181c24;
$bg-color-primary-light: #FFFBF5;
$bg-color-secondary-dark: #0F0F0F;
$bg-color-secondary-light: #F7EFE5;
$bg-color-tertiary-dark: #008170;
$bg-color-tertiary-light: #C3ACD0;
$bg-color-button-dark: #005B41;
$bg-color-button-light: #7743DB;
$fg-color-primary-dark: #ADBAC7;
$fg-color-primary-light: #1f2328;
$fg-font-primary: 'Roboto', sans-serif;